<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQHh1LfpIzeKC2eMHXM91rQOhmtWKqUoo</string>
	<key>GCM_SENDER_ID</key>
	<string>985086713515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thibaudse.firebase-concurrency-issue-mcve</string>
	<key>PROJECT_ID</key>
	<string>concurrency-issue</string>
	<key>STORAGE_BUCKET</key>
	<string>concurrency-issue.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:985086713515:ios:8b6fda17195fe5c76ce1ee</string>
</dict>
</plist>
